<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather Report</title>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <style>
            /* Set the map container size */
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container mt-5">
            <h1>Weather Report</h1>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Current Temperature</h5>
                    <div id="temperature" class="font-weight-bold"></div>
                </div>
                <div class="">
                    <img src="" id="icon" />
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Additional Weather Information</h5>
                    <ul>
                        <li>
                            <strong>Description:</strong>
                            <span id="description"></span>
                        </li>
                        <li>
                            <strong>Feels Like:</strong>
                            <span id="feels_like"></span>
                        </li>
                        <li>
                            <strong>Humidity:</strong>
                            <span id="humidity"></span>
                        </li>
                        <li>
                            <strong>Pressure:</strong>
                            <span id="pressure"></span>
                        </li>
                        <li>
                            <strong>Wind Speed:</strong>
                            <span id="wind_speed"></span>
                        </li>
                        <li>
                            <strong>Rain Volume:</strong>
                            <span id="rain_volume"></span>
                        </li>
                        <li>
                            <strong>Coordinates</strong>
                            <span id="coordinates"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="time_zone"></div>
        </div>
        <div id="map"></div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMXJzmyzV1QhzAYQYgUoL1hqAwFonpKo8&callback=initMap"
            async
            defer
        ></script>

        <script src="../scripts/weather.js"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
