<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather Report</title>
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <style>
            /* Set the map container size */
            #map {
                height: 400px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container mt-5">
            <h1>Weather Report</h1>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Current Temperature</h5>
                    <div id="temperature" class="font-weight-bold"></div>
                </div>
                <div class="">
                    <img src="" id="icon" />
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Additional Weather Information</h5>
                    <ul>
                        <li>
                            <strong>Description:</strong>
                            <span id="description"></span>
                        </li>
                        <li>
                            <strong>Feels Like:</strong>
                            <span id="feels_like"></span>
                        </li>
                        <li>
                            <strong>Humidity:</strong>
                            <span id="humidity"></span>
                        </li>
                        <li>
                            <strong>Pressure:</strong>
                            <span id="pressure"></span>
                        </li>
                        <li>
                            <strong>Wind Speed:</strong>
                            <span id="wind_speed"></span>
                        </li>
                        <li>
                            <strong>Rain Volume:</strong>
                            <span id="rain_volume"></span>
                        </li>
                        <li>
                            <strong>Coordinates</strong>
                            <span id="coordinates"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="time_zone"></div>
        </div>
        <div id="map"></div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMXJzmyzV1QhzAYQYgUoL1hqAwFonpKo8&callback=initMap"
            async
            defer
        ></script>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const temperature = urlParams.get("temperature");
            const icon = urlParams.get("icon");
            const description = urlParams.get("description");
            const feels_like = urlParams.get("feels_like");
            const humidity = urlParams.get("humidity");
            const pressure = urlParams.get("pressure");
            const wind_speed = urlParams.get("wind_speed");
            const rain_volume = urlParams.get("rain_volume");
            const coordinates = urlParams.get("coordinates");
            const time_zone = urlParams.get("time_zone");

            picture = "https://openweathermap.org/img/wn/" + icon + "@2x.png";

            document.getElementById("temperature").innerText = temperature
                ? temperature + "°C"
                : "Temperature not available";

            document.getElementById("description").innerText =
                description || "N/A";
            document.getElementById("feels_like").innerText = feels_like
                ? feels_like + "°C"
                : "N/A";
            document.getElementById("humidity").innerText = humidity || "N/A";
            document.getElementById("pressure").innerText = pressure || "N/A";
            document.getElementById("wind_speed").innerText =
                wind_speed || "N/A";
            document.getElementById("rain_volume").innerText =
                rain_volume || "N/A";
            document.getElementById("coordinates").innerText = coordinates;
            document.getElementById("time_zone").innerText =
                "Timezone: " + time_zone;
            pic = document.getElementById("icon");
            pic.src = picture;

            function initMap() {
                const urlParams = new URLSearchParams(window.location.search);
                const coordinatesString = urlParams.get("coordinates");

                const [lat, lng] = coordinatesString.split(",");

                const latitude = parseFloat(lat);
                const longitude = parseFloat(lng);

                const myLatLng = { lat: latitude, lng: longitude };

                var map = new google.maps.Map(document.getElementById("map"), {
                    center: myLatLng,
                    zoom: 8,
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: "My Location",
                });
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
